<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.omega_r.libs.entities">

    <application>

        <provider
                android:name=".resources.OmegaResourceExtractor$ResourceExtractorContentProvider"
                android:authorities="${applicationId}.ResourceExtractorContentProvider"
                android:exported="false"
                android:grantUriPermissions="true" />

    </application>

</manifest>